<% if current_user %>
  <div class="student-container">
    <div class="page-header">
      <h1>Your grades and ranking overview will go here</h1>
    </div>
    <div class="panel panel-default">

      <div class="panel-body">
        <ul>
          <li><strong>Name:</strong> <%= current_user.name %></li>
          <li><strong>Provider:</strong> <%= current_user.provider %></li>
          <li><strong>uID:</strong> <%= current_user.uid %></li>
          <li><strong>Location:</strong> <%= current_user.location %></li>
          <li><strong>Avatar URL:</strong> <%= current_user.image_url %></li>
          <li><strong>URL:</strong> <%= current_user.url %></li>
        </ul>
      </div>
    </div>

    <div class="progress">
  <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
    profile 60% completed.
  </div>
</div>

    <button type="button" class="btn btn-info btn-lg"> Add Grades </button>
    <button type="button" class="btn btn-info btn-lg"> Star </button>


  </div>
<% else %>
  <%= render :partial => 'welcome' %> 
<% end %>